@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #666666;
}

#container {
  width: 760px;
  margin: auto;
  border-left: 5px solid #FF9933;
  border-right: 5px solid #FF9933;
}

header {
  height: 250px;
  /* background-color: aquamarine; */
  background-image: url(images/tiwawa_s.jpg);
}


#title-words {
  padding-top: 90px;
  text-align: center;
  color: #12f8d2;
  font-size: 40pt;
  font-weight: bold;
}

nav {
  background-color: #ffe139;
  height: 34px;
}

nav ul {
  /* li項目を横方向に均等割付（項目数可変） */
  list-style-type: none;
  margin-bottom: 0px;
  height: 30px;
  text-align: justify;
}

nav ul:after {
  content: "";
  width: 100%;
  line-height: 0px;
  display: inline-block;
  height: 0px;
  margin-bottom: 0px;
}

nav li {
  height: 30px;
  padding: 4px;
  text-align: center;
  display: inline-block;
}

nav a {
  color: #FFFFFF;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #FFFF00;
}

#main {
  padding: 30px;
}

h1 {
  font-family: 'ＭＳ Ｐゴシック';
  font-size: 24pt;
  color: #FFFFFF;
  background-color: #FF3333;
  border-radius: 5px;
  border-left: solid 10px #000000;
  border-right: solid 10px #000000;
  padding: 5px 7px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 10px #999999;
  letter-spacing: 1pt;
}

h2 {
  font-family: 'ＭＳ Ｐゴシック';
  font-size: 18pt;
  border-left: solid 8px #006666;
  border-bottom: solid 3px #006666;
  padding-left: 5px;
  padding-bottom: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-family: sans-serif;
  font-size: 14pt;
  border: solid 1px #000000;
  border-radius: 5px;
  padding: 1px 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

a:link {
  text-decoration: none;
  color: #00CC00;
}

a:visited {
  color: #990099;
}

a:hover {
  color: #FF0000;
}

table {
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
  font-weight: bold;
  padding-top: 5px;
  text-align: right;
  font-size: 11pt;
}

th,
td {
  border: solid 2px #000000;
  padding: 5px;
}

td {
  text-align: left;
}

thead {
  background-color: #336666;
  color: #FFFFFF;
}

footer {
  background-color: #000000;
  padding: 10px 0px;
  font-size: 10pt;
  text-align: center;
  color: #FFFFFF;
}

h3 {
  text-align: center;
}

.top {
  text-align: center;
}

.btn {
  border-radius: 5px;
  background-color: lightblue;
  padding: 10px;
  text-decoration: none;
  color: white;

}

.stop-watch {
  margin: 20px 0;
  text-align: center;
}